[user]
	name = Jim Mussared
	email = jim.mussared@gmail.com

[core]
	editor = subl -n -w

[credential]
	helper = /usr/bin/pass-git-helper

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	amend = commit --amend
	amendadd = commit -a --amend
	btr = for-each-ref --sort=committerdate --format=%(refname:short) refs/heads/
	co = checkout
	commit = commit -s
	continue = rebase --continue
	detach-master = checkout --detach origin/master
	dm = detach-master
	fo = fetch origin
	fodm = !git fo && git dm
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	pf = push -f
	pj = push -u jimmo
	pullr = pull --rebase
	pushu = !git push -u origin `git symbolic-ref --short HEAD`
	pushud = !git push -u origin :`git symbolic-ref --short HEAD`
	rebase-master = rebase -i origin/master
	rmi = rebase-master
	s = status
	st = state
	undo = reset --soft HEAD^
	resetdammit = reset --hard HEAD

[push]
	default = current

[diff]
	submodule = log

[pull]
	rebase = true

[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = jim.mussared@gmail.com
	smtpencryption = tls
	smtpserverport = 587
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = smerge
	ff = only

[commit]
	template = ~/.gittemplate

[init]
	defaultBranch = main
