[user]
	name = Jim Mussared
	email = jim.mussared@gmail.com

[core]
	editor = s -w

[credential]
	helper = /usr/bin/pass-git-helper

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	st = state
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	undo = reset --soft HEAD^
	pullr = pull --rebase
	pushu = !git push -u origin `git symbolic-ref --short HEAD`
	pushud = !git push -u origin :`git symbolic-ref --short HEAD`
	btr = for-each-ref --sort=committerdate --format=%(refname:short) refs/heads/
	amend = commit --amend
	amendadd = commit -a --amend
	continue = rebase --continue
	rebase-master = rebase -i origin/master

[push]
	default = current

[diff]
	submodule = log

[pull]
	rebase = true

[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = jim.mussared@gmail.com
	smtpencryption = tls
	smtpserverport = 587
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
	tool = smerge
