[user]
	name = Jim Mussared
	email = jim.mussared@gmail.com

[core]
	editor = ~/bin/e

[credential]
	helper = store

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	st = status
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	undo = reset --soft HEAD^
	pullr = pull --rebase
	pushu = !git push -u origin `git symbolic-ref --short HEAD`
	pushud = !git push -u origin :`git symbolic-ref --short HEAD`

[push]
	default = simple
