$include /etc/inputrc

$if Bash
  Space: magic-space
  C-Space: shell-expand-line
  C-M-c: insert-comment
$endif

"\e[B": history-search-forward
"\e[A": history-search-backward

set blink-matching-paren on
set colored-stats on
set colored-completion-prefix on
set skip-completed-text on

